/* -- 
COLOURS
#543b9f
#5ce1e6
#d9d9d9
#FF5FFB -- colour of the parrot
-- */

body {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    background-color: #543b9f;
    background-image: url("images/background.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: black;
    font-size: 60px;
    padding: 2px;
}

h2 {
  color: black;
  font-size: 30px;
  font-weight: 500;
}

h3 {
    color: black;
    font-size: 18px;
    font-weight: 400;
}

.center {
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 58%;
}

.center-smaller {
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }


.button {
    background-color: #543b9f;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 18px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
}

.button:hover {
    background-color: #FF5FFB;
    color: black;
}