/*-- GLOBAL --*/
body {
    font-family: 'Work Sans', sans-serif;
    background-color: #543b9f;
    background-image: url("images/background.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: black;
    font-size: 70px;
    text-align: center;
    padding: 20px;
}

/*-- BUTTONS --*/
.start {
    display: block;
    position: relative;
    cursor: pointer;
    background-color: #5ce1e6;
    color: black;
}

/*-- START SCREEN --*/


/*-- GAME PLAY SCREEN --*/


/*-- GAME OVER SCREEN --*/


/*-- WINNING SCREEN --*/

