/* -- 
COLOURS
#543b9f
#5ce1e6
#d9d9d9
#FF8D8B -- colour of the parrot
-- */

/*-- GLOBAL --*/
body {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    background-color: #543b9f;
    background-image: url("images/background.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: black;
    font-size: 60px;
    padding: 10px;
}

/*-- BUTTONS --*/
.button {
    background-color: #543b9f;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 18px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
}

.button:hover {
    background-color: #FF5FFB;
    color: black;
}

/*-- START SCREEN --*/


/*-- GAME PLAY SCREEN --*/


/*-- GAME OVER SCREEN --*/


/*-- WINNING SCREEN --*/

